.serviços-section {
  background-image: url("../assets/images/fundoServiços.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20vh;
}

.src-name-each {
  font-family: "Questrial", sans-serif;
  font-size: 0.7em;
  color: #570416;
  font-style: italic;
  margin-right: 1em;
}

.h2-serv-each {
  font-family: "Bitter", serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #f5f2eb;
  padding: 0.3em 0.2em 0.2em 1.5em;
  background-color: #570416;
  margin-bottom: 0;
}

.h3-serv-each {
  font-family: "Bitter", serif;
  font-size: 2em;
  font-weight: 700;
  color: #570416;
  padding-left: 2.5em;
  background-color: #f5f2eb;
}

.img-icon-each {
  margin: 0.3em;
  width: 3%;
}

.sizeCardServ,
.sizeCardServ2 {
  width: 25rem;
  height: 30rem;
  margin-top: 2em;
}

.sizeCardServ img,
.sizeCardServ2 img {
  width: 45%;
}

.card-text {
  margin-top: 1.3em;
  font-family: "Questrial", sans-serif;
  font-size: 1.1rem;
  text-align: justify;
}

.btn-serv {
  font-family: "Bitter", serif;
  font-size: 1.3em;
  font-weight: 700;
  background-color: #570416;
  color: white;
}

.btn-serv:hover {
  background-color: #e5ddcb;
  color: #570416;
}

.btn-section {
  margin-top: 2em;
}

@media only screen and (max-width: 768px) {
  .src-name-each {
    font-size: 0.55em;
  }

  .h2-serv-each {
    font-size: 1.6em;
    padding-left: 0.5em;
  }

  .h3-serv-each {
    font-size: 1.3em;
    padding-left: 1em;
  }

  .img-icon-each {
    margin: 0.3em;
    width: 7%;
  }

  .sizeCardServ,
  .sizeCardServ2 {
    width: 21rem;
    height: 21rem;
  }

  .sizeCardServ {
    margin-bottom: 1em;
  }

  .sizeCardServ2 {
    margin-bottom: 3em;
  }

  .sizeCardServ img,
  .sizeCardServ2 img {
    width: 45%;
  }

  .card-text {
    margin-top: 1em;
    font-size: 1rem;
  }

  .btn-serv {
    font-size: 1em;
  }

  .btn-section {
    margin-top: 3em;
  }
}
