/* * {
  border: 1px;
  border-color: red;
  border-style: dashed;
} */

.hero-section-top {
  background-image: url("../assets/images/fundoHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 10vh;
}

.hero-section {
  background-image: url("../assets/images/fundoHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section-img {
  width: 41vw;
  height: auto;
  margin-bottom: 5em;
  margin-top: 5em;
}

.custom-container {
  width: 50vw;
  height: auto;
  font-family: "Bitter", serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #570416;
}

.img-card {
  width: 15vw;
  height: auto;
}

.h2-serv {
  font-family: "Bitter", serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: #570416;
}

.link-text-serv {
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  color: #570416;
}

.link-text-serv:hover,
.link-text-serv:focus {
  color: #cdbe9b;
}

.end-style {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-size: 0.7em;
}
/* .footer-css img {
  width: 2vw;
  height: auto;
} */
