.hero-section-top {
  background-image: url("../assets/images/fundoHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 10vh;
}

.hero-section {
  background-image: url("../assets/images/fundoHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section-img {
  width: 41vw;
  height: auto;
  margin-bottom: 5em;
  margin-top: 5em;
}

/* .hero-section img {
  width: 40vw;
  height: auto;
} */

.section-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box {
  font-family: "Libre Caslon Text", serif;
  font-size: 1.7em;
  font-weight: 700;
  text-align: center;
  list-style: none;
}

.info-below {
  font-family: "Libre Caslon Text", serif;
  font-size: 1.5em;
  width: 60vw;
  font-weight: 400;
  text-align: justify;
  color: #570416;
}

.btn-home-serv,
.btn-home-serv:hover,
.btn-home-serv:focus {
  background-color: #cdbe9b;
  border: none;
  color: white;
  padding: 0.938rem 2rem;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  text-shadow: none;
}

.btn-home-serv .footer-css {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Libre Caslon Text", serif;
  font-size: 0.57em;
  color: #570416;
  font-weight: 400;
}
.footer-css img {
  width: 2vw;
  height: auto;
}
