.hero-section-top {
  background-image: url("../assets/images/fundoHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 10vh;
}

.hero-section {
  background-image: url("../assets/images/fundoHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section-logo {
  display: flex;
  justify-content: center;
}

.hero-section-img {
  width: 35vw;
  height: auto;
  margin-bottom: 3em;
  margin-top: 3em;
}

.custom-container {
  width: 50vw;
  height: auto;
  font-family: "Bitter", serif;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  color: #570416;
}

.h2-serv-home {
  font-family: "Bitter", serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #570416;
}

.h2-serv-home {
  font-family: "Bitter", serif;
  font-size: 2.7em;
  font-weight: 700;
  color: #570416;
}

.end-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Questrial", sans-serif;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
}

.end-style-email:hover,
.end-style-email:focus {
  color: #cdbe9b;
}

.divStyleEnd {
  padding-top: 0.5em;
}

.footer-logos {
  width: 2vw;
  height: auto;
  padding-top: 0.5em;
}

.mDetail .footer-logos {
  background-color: transparent;
  border-top: 0.2rem solid transparent;
}

.mDetail .footer-logos:hover,
.mDetail .footer-logos:focus {
  color: #cdbe9b;
  border-top-color: #cdbe9b;
}

.mDetail {
  margin: 8em 3em 1em 3em;
}

.notFoundCss {
  font-family: "Bitter", serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: #570416;
  margin-bottom: 1rem;
}

.img-down {
  width: 45%;
  height: auto;
  margin-top: 2rem;
}

@media only screen and (max-width: 768px) {
  .hero-section-img {
    width: 80vw;
    height: auto;
  }

  .custom-container {
    width: 90vw;
    height: auto;
    padding: 2%;
    font-size: 1.3em;
  }

  .h2-serv-home {
    font-size: 2.3em;
  }

  .end-style {
    font-size: 0.8em;
  }

  .footer-logos {
    width: 5vw;
    height: auto;
  }

  .mDetail {
    margin: 5.5em 1em 0em 1em;
  }

  .img-down {
    width: 75%;
    height: auto;
  }
}
