.prod-section {
  background-image: url("../assets/images/fundoPubli.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  max-width: 100%;
  height: 20vh;
}

.prodH1 {
  font-family: "Bitter", serif;
  font-size: 2.5em;
  font-weight: 700;
  text-align: center;
  color: #f5f2eb;
  background-color: #570416;
  padding: 0.2em 0 0.2em 0;
}

.pubOrigem {
  font-family: "Querial", serif;
  font-weight: 500;
  font-size: 1.1em;
  color: #b5af9f;
  margin-bottom: 0.5em;
}

.pubTítulo {
  font-family: "Querial", serif;
  font-weight: 500;
  font-size: 1.2em;
  font-style: italic;
  color: #570416;
  margin-bottom: 0.3em;
}

.ano {
  font-family: "Querial", serif;
  font-weight: 500;
  font-size: 1.1em;
  color: #570416;
  margin-bottom: 0.5em;
}

.pubLink {
  font-family: "Querial", serif;
  font-weight: 500;
  font-size: 1.1em;
  color: #b5af9f;
}

.pubLink:hover {
  color: #570416;
}

.img-prod {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .prodH1 {
    font-size: 1.8em;
  }

  .pubOrigem {
    font-size: 0.9em;
  }

  .pubTítulo {
    font-size: 1em;
  }

  .ano {
    font-size: 0.9em;
  }

  .pubLink {
    font-size: 0.9em;
  }

  .img-prod {
    width: 90%;
    height: 90%;
  }
}
