.serviços-section {
  background-image: url("../assets/images/fundoServiços.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  max-width: 100%;
  height: 20vh;
}

.src-name {
  font-family: "Questrial", sans-serif;
  font-size: 0.7em;
  color: #570416;
  font-style: italic;
  margin-right: 1em;
}

.card {
  border-color: white;
}

.card-img-top {
  width: 10vw;
  height: auto;
}

.h2-serv {
  font-family: "Bitter", serif;
  font-size: 2.5em;
  font-weight: 700;
  color: #570416;
  background-color: #e5ddcb;
  padding: 0.2em 0 0.2em 0;
}

.link-text-serv {
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  color: #570416;
}

.link-text-serv:hover,
.link-text-serv:focus {
  color: #cdbe9b;
}

@media only screen and (max-width: 768px) {
  .src-name {
    font-size: 0.55em;
  }

  .h2-serv {
    font-size: 2.1em;
  }

  .card-img-top {
    width: 22vw;
    height: auto;
  }

  .titleBelow {
    font-size: 1.2em;
  }
}
